<div class="dashboard" [class.collapsed]="collapsed">
  <!-- Sidebar -->
  <aside class="sidebar">
    

    <nav>
      <ul>
        <li><a routerLink="/inicio" routerLinkActive="active"> Inicio</a></li>
        <li><a routerLink="/sucursal" routerLinkActive="active"> Sucursal</a></li>
      </ul>
    </nav>
  </aside>

  <!-- Main -->
  <div class="main">
    <header class="header">
      <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
      <span>Panel de administración</span>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>

