<div class="dashboard" [class.collapsed]="collapsed">
  <!-- Sidebar -->
  <aside class="sidebar">
    <nav>
      <ul>
        <li>
          <a routerLink="/inicio" routerLinkActive="active">
            <i class="bi bi-house-door-fill"></i> Inicio
          </a>
        </li>
        <li>
          <a routerLink="/sucursal" routerLinkActive="active">
            <i class="bi bi-building"></i> Sucursal
          </a>
        </li>
        <li>
          <a routerLink="/empleado" routerLinkActive="active">
            <i class="bi bi-people-fill"></i> Empleados
          </a>
        </li>
        <li>
          <a routerLink="/ventas" routerLinkActive="active">
            <i class="bi bi-cart-fill"></i> Ventas
          </a>
        </li>
          <li>
            <a routerLink="/cliente" routerLinkActive="active">
              <i class="bi bi-person-fill"></i> Clientes
            </a>
          </li>
          <li>
            <a routerLink="/productos" routerLinkActive="active">
              <i class="bi bi-box-seam"></i> Productos
            </a>
          </li>
          <li>
            <a routerLink="inventario" routerLinkActive="active">
              <i class="bi bi-clipboard-check"></i> Inventario
            </a>
          </li>
      </ul>
    </nav>
  </aside>

  <!-- Main -->
  <div class="main">
    <header class="header">
      <button class="toggle-btn btn btn-light" (click)="toggleSidebar()">
        <i class="bi bi-list"></i>
      </button>
      <span>Panel de administración</span>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>

